<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" >
    <test name="Create New Order [Mobile-Chrome]" >
        <parameter name="selenium.browser" value="mobile" />
        <classes>
            <class name="com.qatestlab.tests.PlaceOrderTest" />
        </classes>
    </test>

    <test name="Create New Order [Desktop-Chrome]" >
        <parameter name="selenium.browser" value="chrome" />
        <classes>
            <class name="com.qatestlab.tests.PlaceOrderTest" />
        </classes>
    </test>
</suite>