<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" >
    <test name="Create New Order [Mobile-Chrome]" >
        <parameter name="selenium.browser" value="mobile" />
        <classes>
            <class name="com.qatestlab.tests.PlaceOrderTest" />
        </classes>
</test>
    <!--
<test name="Create New Order [Remote-Chrome]" >
    <parameter name="selenium.browser" value="remote-chrome" />
    <parameter name="selenium.grid" value="http://localhost:4444/wd/hub" />
    <classes>
        <class name="com.qatestlab.tests.PlaceOrderTest" />
    </classes>
</test>
<test name="Create New Order [Remote-Firefox]" >
    <parameter name="selenium.browser" value="remote-firefox" />
    <parameter name="selenium.grid" value="http://localhost:4444/wd/hub" />
    <classes>
        <class name="com.qatestlab.tests.PlaceOrderTest" />
    </classes>
</test>
-->

<!--Configure tests for other browser types-->
</suite>